-- Add address column to current_accounts table and force schema cache refresh
ALTER TABLE public.current_accounts ADD COLUMN IF NOT EXISTS address TEXT;

-- Force PostgREST schema cache refresh
COMMENT ON TABLE public.current_accounts IS 'Current accounts table with all columns including address, name, email, phone, tax_number, tax_office, company, balance, tenant_id, created_at, updated_at, is_active, account_type - schema cache refresh 2025-01-28';

-- Ensure all columns are properly indexed for performance
CREATE INDEX IF NOT EXISTS idx_current_accounts_address ON public.current_accounts(address);
